.community-ct {
    position: relative;
    width: 1200px;
    margin: 15px auto;
}
.all-list {
    width: 840px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    min-height: 400px;
}

.all-list .list-title {
    position: relative;
    width: 100%;
    height: 44px;
    background-color: #F6F6F6;
}

.list-title .list-h {
    position: absolute;
    top: 7px;
    left: 0;
    height: 28px;
}

.all-list .list-item {
    float: left;
    width: 70px;
    height: 100%;
    margin-left: 15px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    box-sizing: border-box;
}

.all-list .list-item a {
    display: block;
    width: 100%;
    height: 100%;
    color: #80BD01;
    box-sizing: border-box;
}

.all-list .list-item.new {
    width: 40px;
}

.all-list .list-item.active {
    background-color: #80BD01;
    border: 1px solid #80BD01;
    border-radius: 3px;
}

.all-list .list-item.active a {
    color: #fff;
}

.list-content {
    min-height: 400px;
}

.list-content .list-item-c {
    position: relative;
    height: 50px;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.list-content .list-item-c .avtar {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.list-content .list-item-c .avtar img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.list-content .list-item-c .re-cl {
    position: absolute;
    top: 10px;
    left: 55px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: #989898;
    font-size: 12px;
}

.list-content .list-item-c .top {
    position: absolute;
    top: 15px;
    left: 115px;
    width: 30px;
    height: 20px;
    background-color: #80BD01;
    font-size: 12px;
    text-align: center;
    border: 1px solid #80BD01;
    border-radius: 2px;
}

.list-content .list-item-c .contents {
    padding-left: 135px;
    height: 30px;
    line-height: 30px;
}

.list-content .list-item-c .contents .content {
    display: inline-block;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: #424242;
}

.list-content .list-item-c .time {
    position: absolute;
    right: 15px;
    top: 11px;
    width: 50px;
    height: 28px;
    font-size: 12px;
    color: #989898;
    line-height: 28px;
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 340px;
    min-height: 400px;
}

.sidebar .panel {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
}

.sidebar .panel .inner {
    height: 116px;
    padding: 15px;
}

.sidebar .panel .inner p {
    margin-bottom: 15px;
}

.sidebar .panel .inner a {
    color: #989898;
}

.sidebar .panel .inner a .span-info {
    display: block;
    width: 150px;
    height: 35px;
    background-color: #5BC0DE;
    line-height: 35px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
}

.sidebar .panel .inner-abs {
    height: 250px;
    margin-top: 15px;
}

.sidebar .panel .inner-abs .header {
    width: 100%;
    height: 40px;
    background-color: #ccc;
    line-height: 40px;
    font-size: 16px;
}

.sidebar .panel .inner-abs .header .col-fade {
    padding: 15px;
}

.sidebar .panel .inner-abs .inners {
    padding: 15px;
}

.sidebar .panel .inner-abs .inners li {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
}

.sidebar .panel .inner-abs .inners .golang {
    height: 33.98px;
}

.sidebar .panel .inner-abs .inners li a {
    display: block;
    width: 100%;
    height: 100%;
}




