<footer class="community-ft">
    <div class="ft-content">
        <div class="ft-title">
            <a href="#">RSS</a>
            <a href="#">源码地址</a>
        </div>
        <div class="ft-intro">
            <p>CNode 社区为国内最专业的Node.js开源技术社区，致力于Node.js的技术和研究。</p>
        </div>
        <div class="ft-together">
            <p>服务赞助商为 UCLOUD</p>
            <p>存储赞助商为 七牛云</p>
            <p>alinode提供应用性能服务</p>
        </div>
        <div class="ft-tip">
            <p>新手搭建 Node.js服务器，推荐使用无需备案的 (<a href="https://www.digitalocean.com/">DigitalOcean https://www.digitalocean.com/</a>)</p>
        </div>
    </div>
</footer>

    